# System files
.DS_Store

# Build artifacts
target/
.next/

# Backup files
**/*.rs.bk

# Node.js dependencies
node_modules/

# Test-related files
test-ledger/
tests/fixtures/

# Yarn files
.yarn/

# Sensitive files
*wallet.json
.env

.anchor