# System files
.DS_Store

# Build artifacts
target/
.next/
.anchor/

# Backup files
**/*.rs.bk

# Node.js dependencies
node_modules/

# Test-related files
test-ledger/
tests/fixtures/*
!tests/fixtures/.gitkeep

# Yarn files
.yarn/

# Sensitive files
*wallet.json
.env*
!.env.example
